.wizard-block {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background-image: url("pexels-photo-374899.jpeg");
    background-position: center;
    background-size: cover;
    height: 800px;
}

body {
    margin: 0 0;
}

.main-menu {
    display: flex;
    height: 200px;
    width: 100%;
}

.menu-button {
    display: flex;
    width: calc(100%/7);
    font-weight: bolder;
    align-items: center;
    padding: 0px 0px 30px 22px;
    cursor: pointer;
    white-space: nowrap;
    transition: all.3s ease;
}

i.fa.fa-users {
    padding: 0 5px;
}

.wizard-slogan-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 290px;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.wizard-slogan-2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 95px;
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.wizzard-button {
    display: flex;
    height: 100px;
    width: 33%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
i.fa.fa-sign-in {
    padding: 0 5px;
}
i.fa.fa-users {
    padding: 0 5px;
}
.main-menu-logo {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}
.main-menu-button {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    text-align: center;
    flex-direction: row;
}
.menu-button:hover{
    color: #7f7f7f;
}
.wizzard-button {
    display: flex;
    height: 100px;
    width: 34%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-wizard-button {
    display: flex;
    border: 3px solid;
    color: white;
    font-weight: 600;
    height: 45px;
    width: 185px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.button-1 {
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
}
.button-2 {
    text-decoration: none;
    color: #555;
    font-size: 13px;
    letter-spacing: 1px;
}

.right-wizard-button {
    display: flex;
    border: 3px solid;
    color: white;
    font-weight: 600;
    height: 45px;
    width: 185px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: white;
}
i.fa.fa-sign-in {
    padding: 0 5px;
}
.header-name {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    flex-direction: column;
}
.how_it_works {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 850px;
    background: whitesmoke;
}
.polosa-1 {
    display: flex;
    height: 20px;
    width: 70px;
    border-bottom: 2px solid;
}
.blok-content-1 {
    display: flex;
    height: 280px;
    width: 70%;
}

.logo-contenta-1 {
    height: 200px;
    width: 200px;
    border: 7px solid white;
    border-radius: 50%;
}
.right-block-content-1 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
}

.opis-1-1 {
    height: 40px;
    font-size: 20px;
}

.opis1-2 {
    font-size: 17px;
}
.opisanie-contenta-1 {
    height: 80%;
}
.left-block-content-1 {
    margin-right: 20px;
}

.blok-content-2 {
    display: flex;
    flex-direction: column;
    background-image: url("bg_v4.png");
    background-position: center 0px;
    height: 100vh;
    color: white;
}
.block-polosa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 270px;
    width: 100%;
}

.left-block-content-2 {
    width: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.right-block-content-2 {
    width: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.logo-contenta-2 {
    width: 70px;
    height: 70px;
    background-color: #969696;
    font-size: 25px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-contenta-2 {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}
.text-contenta-2-1 {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
}